
<div class="row form-row valid-form" id="section_personal">
    <h5>Personal Data</h5>
    <div class="col-12 mb-3">
        {{ userForm.first_name }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
        {{ userForm.last_name }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
        {{ userForm.second_last_name }}
    </div>
    <div class="col-12 mb-3">
        {{ userForm.username }}
    </div>
    <div class="col-11 mb-3" >
        {{ userForm.password }}
    </div>
    <div class="col-1 mb-3 show_hide_password">
        <i class="far fa-eye-slash" style="margin-top: 10px"></i>
    </div>
    <span class="description">La contraseña debe contener mayusculas, minusculas, caracteres especiales y numeros</span>
    <div class="col-12 mb-3">
        {{ userForm.confirm_password }}
    </div>
    <div class="col-12 mb-3">
        {{ personForm.phone_number }}
    </div>
    <div class="col-12 mb-3">
        {{ personForm.telephone_number }}
    </div>
    <div class="col-12 mb-3">
        {{ personForm.rfc }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
        <div class="custom-file mt-1">
            {{ personDocumentForm.power_letter }}
            <label class="custom-file-label" for="id_power_letter" data-browse="Subir">Carta Poder</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
        <div class="custom-file mt-1">
            {{ personDocumentForm.ine }}
            <label class="custom-file-label" for="id_ine" data-browse="Subir">INE</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-3">
        <button type="button" class="btn-send" data-section="person">Siguiente</button>
    </div>
</div>