
<div class="row form-row valid-form" style="display: none" id="section_company">
    <h5>Datos de la Empresa</h5>
    <div class="col-12 mb-2">
        {{ companyForm.name }}
    </div>
    <div class="col-12 mb-2">
        {{ companyForm.rfc }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.constitutive_act }}
            <label class="custom-file-label" for="id_constitutive_act" data-browse="Subir">Acta Constitutiva</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.estate_document }}
            <label class="custom-file-label" for="id_estate" data-browse="Subir">Hacienda</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.tax_certificate }}
            <label class="custom-file-label" for="id_tax_certificate" data-browse="Subir">Cedula Fiscal</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.proof_of_address }}
            <label class="custom-file-label" for="id_proof_of_address" data-browse="Subir">Domicilio</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.bank_account }}
            <label class="custom-file-label" for="id_bank_account" data-browse="Subir">Cuenta Bancaria</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.sat }}
            <label class="custom-file-label" for="id_sat" data-browse="Subir">Comprabante SAT</label>
        </div>
    </div>
    <div class="col-12 mb-2">
        <div class="custom-file mt-1">
            {{ companyDocumentForm.employer_registration }}
            <label class="custom-file-label" for="id_employer_registration" data-browse="Subir">Registro Patronal</label>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-2">
        <button type="button" class="btn-second btn-back" id="btn_back_company">Regresar</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-2">
        <button type="button" class="btn-send btn-valid-su" id="btn_company">Siguiente</button>
    </div>
</div>
