
<div id="menu_company_direction" style="display:none">
    <div class="row">
        <div class="col-sm-12 col-md-12- col-lg-12">
            <div class="box">
                <div class="form-account">
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <div style="margin:10px;">
                            <span class="form-title">Dirección de la Empresa</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {{ companyAddressForm.cp }}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <input type="text" placeholder="Estado" id="id_state" disabled>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <input type="text" placeholder="Delegación/Municipio" id="id_city" disabled>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {{ companyAddressForm.colony }}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {{ companyAddressForm.street_a }}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {{ companyAddressForm.number }}
                    </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="align-self-center df aic jcc">
                                <button type="button" class="btn-complete" name="company_direction-back">Anterior</button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="align-self-center df aic jcc">
                                <button type="button" class="btn-complete" name="company_direction">Siguiente</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>