
<div class="row form-row valid-form" style="display: none" id="section_direction">
    <h5>Dirección de la Empresa</h5>
    <div class="col-12 mb-2">
        {{ companyAddressForm.cp }}
    </div>
    <div class="col-12 mb-2">
        {{ companyAddressForm.state }}
    </div>
    <div class="col-12 mb-2">
        {{ companyAddressForm.city }}
    </div>
    <div class="col-12 mb-2">
        {{ companyAddressForm.colony }}
    </div>
    <div class="col-12 mb-2">
        {{ companyAddressForm.street_a }}
    </div>
    <div class="col-12 mb-2">
        {{ companyAddressForm.street_b }}
    </div>
    <div class="col-12 mb-2">
        {{ companyAddressForm.number }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 mb-2">
        <button type="button" class="btn-second btn-back" id="btn_back_company_direction">Regresar</button>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 mb-2">
        <button type="button" class="btn-send btn-valid-su" id="btn_company_direction">Enviar</button>
    </div>
</div>