
<div class="row form-row valid-form" style="display: none;" id="section_direction">
                            <h5>Dirección de la Empresa</h5>
                            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                                <input type="text" class="form-control" id=""  placeholder="CP">
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                                <input type="text" class="form-control" id=""  placeholder="Estado">
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                                <input type="text" class="form-control" id=""  placeholder="Delegacion/Municipio">
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                                <input type="text" class="form-control" id=""  placeholder="Colonia">
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                                <input type="text" class="form-control" id=""  placeholder="Calle">
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                                <input type="text" class="form-control" id=""  placeholder="Numero Exterior">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-3">
                                <button type="button" class="btn-back btn-sign-up" data-section="direction">Regresar</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-3">
                                <button type="button" class="btn-send" data-section="direction">Send</button>
                            </div>
                        </div>